@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
/* css Veruables */
/* hsl을 쓰는 것을 선호하자:같은 색상과 채도를 유지하고 일관되지만 변화를 살짝 줄 수 있음 */
:root{
    /* color */
        --primary-color: hsl(160, 100%, 25%); /*색상,채도,밝기*/
        --secondary-color: hsl(339, 77%, 59%);
        --third-color: hsl(160, 100%, 35%);
        --body-color: #fff;
    /* font */
    --body-fnot: 'Cute Font', sans-serif;
    --h1-font-sizer: 2rem; /*크롬>설정>글자크기: 중간일 때, 대문자 M의 너비인16px을 기준으로 함=1rem*/
    --h2-font-sizer:1.5rem;
    --h3-font-sizer:1.25rem;
    --normal-font-sizer:1rem;
    --small-font-sizer: 0.8rem;
    --smaller-font-sizer: 0.6rem;


    /* z-index */
    --z-index:100;

    /* nav */
    --nav-height: 44px;
    
    
}