@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
/* css Veruables */
/* hsl을 쓰는 것을 선호하자:같은 색상과 채도를 유지하고 일관되지만 변화를 살짝 줄 수 있음 */
:root{
    /* color */
        --primary-color: hsl(160, 100%, 25%); /*색상,채도,밝기*/
        --secondary-color: hsl(339, 77%, 59%);
        --third-color: hsl(160, 100%, 35%);
        --body-color: #fff;
    /* font */
    --body-fnot: 'Cute Font', sans-serif;
    --h1-font-sizer: 2rem; /*크롬>설정>글자크기: 중간일 때, 대문자 M의 너비인16px을 기준으로 함=1rem*/
    --h2-font-sizer:1.5rem;
    --h3-font-sizer:1.25rem;
    --normal-font-sizer:1rem;
    --small-font-sizer: 0.8rem;
    --smaller-font-sizer: 0.6rem;


    /* z-index */
    --z-index:100;

    /* nav */
    --nav-height: 44px;

    
}
/* nav */
body{
    font-family: 'Cute Font', sans-serif;
    background-color: var(--body-color);
}
body>header{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    /* 위치를 내 마음대로 움직일 수 있음absolute 이게 절대값, 고정시킴 */
}
nav.container{
    background-color: var(--primary-color);
    height: var(--nav-height);
    display: flex; /*가로로배치*/
    justify-content: space-between; /*메인축(가로)으로 양쪽정렬*/
    align-items: center; /*교차축(세로)로 가운데 정렬*/
    padding: 0 80px; /*왼/오른만 양쪽여백*/
    color: #fff;
    font-size: var(--h2-font-sizer); /*웹폰ㅌ 아이콘,글자 크게*/
}
nav a{
    color: #fff;
}
nav-logo{
    margin-top: 5px;
}
.nav-list{
    display: flex;
    align-items: center;
    column-gap: 40px; /*열 사이에 간격*/
    transition: 0.4s ease-in-out; /*애니메이션*/
}
.nav-toggle{
    display: none; /*사라져*/
}
/* 모바일 */
@media screen and (max-width: 600px) { /*600px이하일때 스타일*/
    nav.container{
        padding: 0 20px; /*왼/오른 여백 조금 줄이자*/
       
    }
    .nav-list{
        flex-direction: column; /*세로로배치*/
        background-color: hsla(200, 100%, 25%, 0.6);
        /*bacco단축기*/
        position:absolute;
        top: calc (var(--nav-height) - 140px); /*실제 위치는 44px-140px (이게 탑의 위치) (- 옆에 꼭  띄어쓰기 있어야함,연산자와 연산자 사이)*/
        right: 0;
        left: 0;
        z-index: -1; /*nav뒤에 숨기자*/
        
    }
    .nav-item{
        padding: 0.5rem 0; /*메뉴 아이템 세로 간격 벌리자*/
        border-bottom: 1px solid white;
        width: 100%; /*가로 너비 100%*/
        text-align: center; /*글자 가운데*/
    }
    .nav-link{
        display: block; /*링크의 너비:콘텐츠 크기를 100%로 늘리자*/
    }
    .nav-toggle{
        display: block; /*햄버거 메뉴 보여라*/
        cursor: pointer; /*x표시에 누르면 손 모양으로 바뀌게 해줌*/
    }
    .show-menu{
        top: nav(--nav-height); /*nav-list 아래로 내리자*/
    }
}